<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-col">
            <h2>Liens utiles</h2>
            <ul>
                <li><a href="https://www.eafc-uccle.be/">IEPSCF UCCLE</a></li>
                <li>Made by <a>El Ktibi Mounir</a></li>
                <li><a href="https://www.eafc-uccle.be/">IEPSCF UCCLE</a></li>
                <li>Made by <a>El Ktibi Mounir</a></li>
                <li><a href="https://www.eafc-uccle.be/">IEPSCF UCCLE</a></li>
                <li>Made by <a>El Ktibi Mounir</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2>Contact</h2>
            <ul>
                <li><p>eltibimounir@gmail.com</p></li>
                <li><p>Quelque chose</p></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
